
#hero {
    height: 800px;
    background-image: url("/website/travelpage/images/places/landing.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content {
    width: 900px;
    background-color: rgb(51,47,47,0.7);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 20px;
    text-align: center;
    padding: 50px 0;
    margin: auto;
    position: relative;
    top: 200px;
}

#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Dancing Script', sans-serif;
    margin: 0;
}

#hero-content p{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin: 20px;
    margin-bottom: 40px;
}

#hero-content a{
    text-decoration: none;
    font-size: 20px;
    background-color: yellow;
    padding: 8px;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}

#hero-content a:hover {
    background-color: rgb(162, 110, 211);
}

#highlights{
    background: linear-gradient(45deg, rgb(240,216,186,0.5), rgb(202,243,240));
    
}


#highlights h2{
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(13, 15, 15);
    text-align: center;
    margin-top: 0;
    padding: 20px;
}

#destinations{
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    justify-content: center;
}

.vill {
    margin: 0 20px;
}

.vill p{
    color: antiquewhite;
    font-size: 18px;
    margin: 10px;
    margin-bottom: 40px;
}

section .vill img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 9px;
    object-fit: cover;
}

.vill span{
    font-weight: bold;
    color: rgb(0, 160, 117);
}

