body{
    font-family: 'Dancing Script', sans-serif;
    background-color: rgb(128, 123, 117);
    margin: 0;
}

a{
    text-decoration: none;
}

#main-header{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(110, 113, 116);
    padding: 0 5%;
}

#main-header a{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.menu-button{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-button span{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
}

#main-header ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-header li{
    margin: 0 1rem;
}

#main-header nav a{
    color: black;
    font-size: 1.55rem;
}

#main-header nav a:hover{
    color: rgb(221, 126, 126);
}

#side-drawer{
    width: 100%;
    height: 100%;
    background-color: rgb(146, 139, 130);
    position: fixed;
    top: 0;
    left: 0;
}

#side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 4rem 1rem;
    align-items: center;
}

#side-drawer a{
    color: black;
    font-size: 2rem;
}

#side-drawer li{
    margin: 1rem 0;
}

main h1{
    text-align: center;
    color: rgb(211, 203, 192);
    font-size: 3rem;
    text-transform: capitalize;
}

#product{
    width: 70%;
    margin: 2rem auto;
} 

#product ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Food{
    background-color: rgb(121, 121, 92);
    border-radius: 9px;
    overflow: hidden;
}

.Food img{
    height: 29rem;
    width: 100%;
    object-fit: cover;
    border-radius: 9px;
}

.Food .content{
    padding: 1rem;
    text-align: center;
}

.btn{
    background-color: rgb(68, 66, 66);
    padding: 0.5rem;
    border-radius: 9px;
    color: rgb(136, 136, 148);
    font-size: 1.2rem;
}

.btn:hover{
    background-color: rgb(114, 167, 151);
    color: black;
}

@media (max-width: 768px) {
    #main-header nav{
        display: none;
    }

    main h1{
        font-size: 1.7rem;
    }

    #product ul{
        grid-template-columns: 100%;
    }
}